@import "tailwindcss";

@theme inline {
  --color-stage: #000000;
  --color-screen: #ffffff;
  --color-screen-border: #262626;

  --spacing-device-w: 393px;
  --spacing-device-h: 852px;
  --radius-device: 55px;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-stage);
}
